#content-inner
    --light_bg_color: hsla(0, 0%, 100%, 0.9)
    --dark_bg_color: rgba(18, 18, 18, 0.9)
    --light_page_color: hsla(0, 0%, 100%, 0.9)
    --dark_page_color: rgba(18, 18, 18, 0.9)

#footer
 background:none!important

#footer .framework-info
 display:none

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body
 left: -66px !important

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover
 left: 0 !important

#recent-posts>.recent-post-item,
.layout>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post
    background: var(--light_page_color)

[data-theme=dark] #recent-posts>.recent-post-item,
[data-theme=dark] .layout>div:first-child:not(.recent-posts),
[data-theme=dark] .layout_post>#page,
[data-theme=dark] .layout_post>#post,
[data-theme=dark] .read-mode .layout_post>#post
    background: var(--dark_page_color)